.first-main__footer
  .first-main__footer__link
    .first-main__footer__link__privacy
      = link_to "#",class:"privacy" do
        プライバシーポリシー
    .first-main__footer__link__mercari
      = link_to "#",class:"privacy" do
        メルカリ利用規約
    .first-main__footer__link__pyo
      = link_to "#",class:"privacy" do
        特定商取引に関する表記
  .first-main__footer__image
    =link_to "#" do
      = image_tag "logo_gray.svg",class:"logo_gray"
  .first-main__footer__under
    ©︎ 2019 Mercari