.main__bottom__center
  .main__bottom__center__left
    .main__bottom__center__left__head スマホでかんたんフリマアプリ
    .main__bottom__center__left__heading 今すぐ無料ダウンロード！
    .main__bottom__center__left__box
      .main__bottom__center__left__box__mercari
        = image_tag  "logo_red.svg"
      .main__bottom__center__left__box__apple
        =link_to "#" do
          = image_tag  "https://i0.wp.com/iphone-media.net/wp-content/uploads/2016/11/duellinks03.png?fit=564%2C168",class:"main__bottom__center__left__box__apple__size"
      .main__bottom__center__left__box__google
        =link_to "#" do
          =image_tag  "https://img.tsite.jp/r/app/img/download-google.gif",class:"main__bottom__center__left__box__google__size"
    
  .main__bottom__center__right
    =image_tag  "https://cdn.pixabay.com/photo/2014/10/23/20/51/iphone-500291__480.jpg",class:"main__bottom__center__right__size"