
.main_flame{
  min-height:100vh;
}
.main__item__boxs{
  min-height:2800px;
}
.detail__main{
  color:#333;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  width:100%;
  background-color:rgb(239, 239, 239);
  padding-top:40px;

  &__box{
  margin:0 auto;
  background-color:white;
  width: 600px;
  text-align: center;
  padding:24px 40px 40px;

    &__flame__title{
      font-size:24px;
      word-wrap:break-word;
      line-height:1.4;
      font-weight:normal;
    }

    &__flame__content__itemprice{
      margin-top:24px;
      text-align: center;
      &__price{
        margin:0 0 12px 0;
        font-size:50px;
      } 
      &__tax{
        font-size:10px;    
      }
      &__shipfree{
        font-size:16px;
      }
    }
    &__flame__content__item-buy-btn{
      font-size:24px;
      line-height:60px;
      display:block;
      font-weight:600;
      color:white;
      background-color:#ea352d;
      text-decoration:none;
      margin-top:16px;
    }
    &__flame__content__item-edit-btn{
      font-size:14px;
      line-height:60px;
      display:block;
      font-weight:600;
      color:white;
      background-color:#ea352d;
      text-decoration:none;
      margin-top:16px;
    }
    &__flame__content__item-delete-btn{
      font-size:14px;
      line-height:60px;
      display:block;
      font-weight:600;
      color:white;
      background-color:#aaa;
      text-decoration:none;
      margin-top:16px;
    }
    &__flame__content__itemdescription{
      margin-top:16px;
      line-height:1.5;
      font-size:14px;
      &__text-center{
        text-align:center;
        height:16px;
        width:100%;
        margin:15px 0 15px 0;
      }
    }
    &__flame__content__mainitemdescription{
      padding-top:32px;
      min-width:768px;
      font-size:18px;
      text-align:left;
      white-space:pre-wrap;

      &__inner{
      display: block;
      }
    }
    &__flame__content__item-btn-container{
      margin-top:16px;

      &__item-btn-left__good{
      float:left;
      color:#333;
      border:1px solid #f5f5f5;
      background:#f5f5f5;
      padding: 8px 16px;
      border-radius:40px;
      font-size:13.5px;
      }
      &__item-btn-left__nogood{
        float:left;
        color:#333;
        border:1px solid #f5f5f5;
        background:#f5f5f5;
        padding: 8px 16px; 
        border-radius:40px;
        font-size:13.5px;
        text-decoration:none;
        margin-left:16px;
      }
      &__item-btn-right__safety{
        text-decoration:none;
        color:#0099e8;
        display:inline-block;
        font-size:13.5px;
        margin-top:6px;

      }
    }

}
&__message{
  margin:0 auto;
  background-color:white;
  width: 600px;
  text-align: center;
  padding:24px 40px 40px;
  margin-top:10px;
  &__box{
    &__caution{
      padding:8px;
      background-color: #fff6ed;
      font-size:14px;
      text-align:left;
    }
    &__text{
      border:1px solid #ccc;
      margin:8px 0 0;
      min-height:104px;
      width:100%;
    }
    &__sendbtn{
      border:1px solid #aaa;
      color:white;
      background-color:#aaa;
      display:block;
      width:100%;
      padding-top:8px;
      line-height:48px;
      font-size:14px;

    }
  }
}
&__link{
  margin:24px auto 0;
  width:680px;
  height:30px;
  font-size:12px;
  &__left{
    float:left;
  &__prev{
    text-decoration:none;
    &__detail{
      font-size:8px;
      float:left;
    }
  }
}
  &__right{
    float:right;
  &__next{
    text-decoration:none;
    &__detail{
      font-size:2px;

    }
  }
}
}

&__flame{
  width:680px;
  height:150px;
  margin:10px auto 0;
  padding-bottom: 30px;
&__social-media-box{
  background-color:white;
  height:100%;

  &__box{
    text-align:center;
    padding-top:50px;

  &__facebook{
  display:inline-block;
  }
  &__twitter{
  display:inline-block;
  }
  &__pinterest{
  display:inline-block;
  }
  }

}
}

&__user-profile{
  width:680px;
  margin:10px auto 0;
  &__box{
    width:100%;
    height:750px;
    &__link{
      text-decoration:none;
      font-size:24px;
      &__title{
        font-size:24px;
      }
    }
    &__itembox{
      padding-top:5px;
      height:660px;
      width:700px;
      overflow:hidden;
      &__goods{
        float:left;
        height:340px;
        width:230px;
          &__ind{
          margin:0 10px 20px 0;
          width:220px;
          background-color:white;
          padding:0 0 15px 0;
        
        &__link{
          text-decoration:none;
        &__description{
          color:#333;
          padding:10px;
          font-size:1.0em;
          height:40px;
        }
        &__price{
          color:#333;
          padding:0 0 0 10px;
          font-weight:bold;
          float:left;
        }
        &__rating__value{
          padding-right:10px;
        }
        &__imagebox{
          width:220px;
          height:220px;
          &__image{
            width:100%;
            height:100%;
          }
        }
      }
      }
    }
    }
    }
  }
  
}

.detail__main__bread-crumbs{
  margin:0 auto;
  width:1020px;
  padding:5px;
  font-size:14px;
  &__list{

  }
}

.detail__main__bread-crumbs li{
  display:inline-block;
}

.detail__main__box__flame__content{
  height:620;
  width:420;
  margin:16px 0 0;
}
.detail__main__uer-profile__box__itembox__goods__link__rating{
  padding:10px 5px;
}
.detail__main__box__flame__content__sub{
  display:flex;
  &__table{
    float:right;
    padding-left:30px;
  }
  &__itemphoto{
  float:left;
  height:375px;
  width:300px;
  background-color:rgb(239, 239, 239);
    &__mainphoto{
      width:300px;
      height:300px;
      margin:0 auto;
      overflow:hidden;
      &__size{      
        width:100%;
      }
    }
    &__subphoto{    
      display:flex;
      //display: table;
      
      &__box{
        background-color:#efefef;
        width:60px;
        height:60px;
        overflow:hidden; 
        //display: table-cell;
        vertical-align: middle;
        text-align:center;
        
        &__size{
          max-width: 100%;
          //display:inline-block;

        }
      }
    }
}

}
.tbody{
  display: table-row-group;
  vertical-align:middle;
  border-color:inherit;
  font-size:0.85em;
}
.tbody th{
width: 41%;
text-align:left;
font-weight:400;
background:#fafafa;
}
.tbody td{
  width:180px;
  text-align:left;
  padding:8px;
  border:1px solid #fafafa;
}

.item-user-rating{
  margin-top:3px;
  display:flex;
  &__1{
    display:flex;
    padding-right:10px;
  }
  &__2{
    display:flex;
    padding-right:10px;
  }
  &__3{
    display:flex;
    padding-right:10px;
  }
}

.heart2{

}

.laugh{
  margin-right:3px;
  color:red;
  font-size:1.2em;
}

.normal{
  margin-right:3px;
  color:#fba933;
  font-size:1.2em;
}
.bad{
  margin-right:3px;
  color:#6ab5b8;
  font-size:1.2em;
}

.leftarrow{
  float:left;
  display:block;
  font-size:25px;
}

.rightarrow{
  float:right;
  display:block;
  font-size:25px;
}

.facebook{
  color:#3b82c4;
  font-size:43px;
}

.twitter{
  color:#00aaff;
  font-size:43px;
  
}

.pinterest{
  color:#cc0000;
  font-size:43px;
  
}
